.metadata
RemoteSystemsTempFiles

/target
*.log
.idea/workspace.xml
/assets/maps/*
/assets/matter_definitions.json
ubuntu_build
ubuntu_build.zip
windows_build
windows_build.zip
macos_build
macos_build.zip
osxcross

